.home {
  width: 100%;

  .console {
    width: 100%;
    height: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    padding: 0 10px;
    overflow-y: scroll;

    p{
      margin: 0;
      padding: 0;
      color: #47d147;
      margin-top: 5px;
      text-shadow: none;
    }
  }

  .acoes {
    width: 100%;
    text-align: center;
    margin-top: 20px;

    .btn-primary {
      display: inline-block;
      background-color: #fff;
      border: 1px solid #fff;
      color: $bg-primary-color;
      min-width: 200px;
      margin-left: 10px;
      text-shadow: none;
      font-weight: 500;
    }
  }

}
